SECRET_KEY=yoursecretkeyhere
DEBUG=False
ALLOWED_HOSTS=pme-production-url.railway.app,localhost,127.0.0.1
DATABASE_URL=postgres://user:password@host:port/database

# PayMongo Gateway Keys
PAYMONGO_PUBLIC_KEY=pk_test_your_public_key_here
PAYMONGO_SECRET_KEY=sk_test_your_secret_key_here
PAYMONGO_WEBHOOK_SECRET=whsec_your_webhook_secret_here

